<div class="top-menu-container">
    <a class="logo" href="">🎬 My Movie Mood</a>
    <div class="nav-links">
        
    </div>
    <div class="user-controls">
        <AboutModal />
        
    </div>
</div>